[submodule "Database-Project"]
	path = Database-Project
	url = https://github.com/wilzxl/Database-Project
[submodule "smallrepo"]
	path = smallrepo
	url = https://github.com/wilzxl/testsubmodule/smallrepo
[submodule "smallrepo1"]
	path = smallrepo1
	url = https://github.com/wilzxl/testsubmodule/smallrepo1
